/* GLOBAL */
@font-face {
    font-family: 'redactedregular';
    src: url('../fonts/redacted-regular.eot');
    src: url('../fonts/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted-regular.woff') format('woff'),
         url('../fonts/redacted-regular.ttf') format('truetype'),
         url('../fonts/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'redacted_scriptregular';
    src: url('../fonts/redacted-script-regular.eot');
    src: url('../fonts/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted-script-regular.woff') format('woff'),
         url('../fonts/redacted-script-regular.ttf') format('truetype'),
         url('../fonts/redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Typography */
p {
	font-family: 'redacted_scriptregular';
}

body {
    background: url("../img/bg.png");
    color:#fff;
}

button {
    padding:1em;
}

h1,h2,h3,h4,h5,h6 {
    color:#fff;
}

label {
    color:#fff;
}

#Container .mix{
    display: none;
}